# Airtable
AIRTABLE_API_KEY=<your-airtable-api-key>
AIRTABLE_BASE=<your-airtable-base-id>
# Voyage Filters
VOYAGE=V43
TEAMS=ALL
# Certificate info
COMPLETION_DATE=April 23, 2023
CERTIFICATE_PATH=/Users/jim/Downloads/Chingu_V42_Certificates/
