# Airtable
AIRTABLE_API_KEY=key6aOhWOfKbs30za
AIRTABLE_BASE=appgoC1weqCVH4XA
# Voyage Filters
VOYAGE=V43
TEAMS=ALL
# Certificate info
COMPLETION_DATE=April 23, 2023
CERTIFICATE_PATH=/Users/jim/Downloads/Chingu_V42_Certificates/